﻿<form ng-submit="addUser(user)">
    <div class="row row-separated">
        <div class="col-md-6">
            <label class="control-label">First Name</label>
            <input type="text" class="form-control" ng-model="user.FirstName" required />
        </div>
        <div class="col-md-6">
            <label class="control-label">Last Name</label>
            <input type="text" class="form-control" ng-model="user.LastName" required/>
        </div>
    </div>
    <div class="row row-separated">
        <div class="col-md-4">
            <label class="control-label">Login</label>
            <input type="text" class="form-control" ng-model="user.Login" required/>
        </div>
        <div class="col-md-4">
            <label class="control-label">Password</label>
            <input type="password" class="form-control" ng-model="user.Password" required />
        </div>
        <div class="col-md-4">
            <label class="control-label">Grant Access to Admin Page?</label>
            <input type="checkbox" class="checkbox" ng-model="user.IsAdmin"/>
        </div>
    </div>
    <div class="row row-separated-borderless">
        <div class="col-md-4">
            <input type="submit" value="Add Moderator" class="btn btn-default"/>
        </div>
    </div>
</form>
