﻿<div class="row">
    <div class="col-md-12">
        <h3 class="h3">Admin Section</h3>
    </div>
</div>


<div class="container" ng-controller="AdminSectionController">
    <div class="row">
        <div class="col-md-12">
            <ul class="nav nav-tabs">
                <li role="presentation" id="user-list" class="active admin-tab"><a ui-sref="admin-section.userList">User List</a></li>
                <li role="presentation" id="add-user" class="admin-tab"><a ui-sref="admin-section.add">Add User</a></li>
            </ul>
        </div>
    </div>
    <div class="row" ui-view>

    </div>
</div>
