﻿<table class="table table-striped">
    <thead>
        <tr>
            <th>
                <span>First Name</span>
            </th>
            <th>
                <span>Last Name</span>
            </th>
            <th>
                <span>Login</span>
            </th>
            <th>
                <span>Role</span>
            </th>
            <th>
                <span>Last Activity</span>
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="user in userList">
            <td>
                <span>{{user.FirstName}}</span>
            </td>
            <td>
                <span>{{user.LastName}}</span>
            </td>
            <td>
                <span>{{user.Login}}</span>
            </td>
            <td>
                <img ng-show="user.IsAdmin" src="images/admin.png" height="25" width="25"/>
                <img ng-hide="user.IsAdmin" src="images/moderator.png" height="25" width="25"/>
            </td>
            <td>
                <span>{{user.LastApprovalTime | date:"HH:mm:ss dd.MM.yyyy"}}</span>
            </td>
            <td>
                <span><button ng-click="deleteUser(user.Id)" class="btn btn-danger">Delete</button></span>
            </td>
        </tr>
    </tbody>
</table>