﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Realty for Sale</title>
    <link rel="stylesheet" href="css/bootstrap.min.css" />                
    <link rel="stylesheet" href="css/Site.css" />
    <link rel="stylesheet" href="bower_components/jquery-loader/jquery.loader.css" />
    <link rel="stylesheet" href="css/anim-in-out.css" />    
    <script src="bower_components/angular/angular.min.js"></script>
    <script src="bower_components/angular-animate/angular-animate.min.js"></script>
    <script src="bower_components/angular-resource/angular-resource.min.js"></script>
    <script src="bower_components/angular-ui-router/release/angular-ui-router.min.js"></script>   
    <script src="bower_components/angular-cookies/angular-cookies.min.js"></script>     
    <script src="bower_components/jquery/dist/jquery.min.js"></script>    
    <script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="bower_components/jquery-loader/jquery.loader.js"></script>
    <script src="bower_components/angular-ui-router-anim-in-out/anim-in-out.js"></script>
    <script src="app.module.js"></script>
    <script src="app.config.js"></script>
    <script src="app/resource/realty.resource.js"></script>
    <script src="app/service/realty.service.js"></script>
    <script src="app/resource/photo.resource.js"></script>
    <script src="app/service/attachment.service.js"></script>
    <script src="app/service/exchangeRates.service.js"></script>
    <script src="app/resource/user.resource.js"></script>
    <script src="app/service/user.service.js"></script>
    <script src="app/login/LoginController.js"></script>
    <script src="app/home/HomeController.js"></script>
    <script src="app/add/AddController.js"></script>
    <script src="app/admin-section/AdminSectionController.js"></script>
    <script src="app/moderator-section/ModeratorSectionController.js"></script>
    <script src="app/moderator-section/ModeratorSectionDetailsController.js"></script>
    <script src="UserStateController.js"></script>
    <script src="app/advanced-search/SearchController.js"></script>
    <script src="app/advanced-search/SearchDetailsController.js"></script>
    <script src="app/details/DetailsController.js"></script>
    <script src="ExchangeRatesController.js"></script>


</head>
<body ng-app="app">
    <div class="navbar navbar-inverse navbar-fixed-top" ng-controller="UserStateController">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a ui-sref="index" class="navbar-brand">Home</a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a ui-sref="add">Add</a></li>
                    <li><a ui-sref="advancedSearch">Advanced Search</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right" ng-show="loggedUser.FirstName">
                    <li>
                        <a ui-sref="moderator-section">Moderator Section</a>
                    </li>
                    <li ng-show="loggedUser.IsAdmin">
                        <a ui-sref="admin-section.userList">Admin Section</a>
                    </li>
                    <li>
                        <a href="#">Hello {{loggedUser.FirstName}} {{loggedUser.LastName}}!</a>
                    </li>
                    <li>
                        <a href="#" ng-click="doLogout()">Log off</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="container body-content">

            <div class="jumbotron">
                <div class="row">
                    <div class="col-md-6">
                        <img class="img-rounded" src="images/logo.png" />
                    </div>
                    <div class="col-md-6">                       
                        <p class="lead">Welcome to the Realty Agency WebSite!<br /> A simple and minimalistic way to buy or sell</p>
                        <p>
                            <button data-toggle="modal" data-target="#rulesModal" class="btn btn-primary btn-lg">Rules &raquo;</button>
                            <button data-toggle="modal" data-target="#infoModal" class="btn btn-primary btn-lg">About Us &raquo;</button>
                        </p>
                    </div>
                </div>
            </div>
            <div ui-view class="container anim-in-out anim-fade" data-anim-speed="500">

            </div>
            <hr />
            
        </div>
        <footer>
            <p>&copy; 2016 - Magnolien Realty - <a class="btn-link" href="#" ui-sref="login">Login</a></p>
        </footer>
    </div>

    <div class="modal fade" id="rulesModal" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-index">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">Realty Agency WebSite Rules</h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-12">
                            <p>As simple as that:</p>
                            <ul>
                                <li><p>Push the Add button</p></li>
                                <li><p>Fill out the requested info</p></li>
                                <li><p>Wait for the announcement to be approved by our moderators</p></li>
                                <li><p>That's it! The moment someone is interested in your offer, our representative will contact you!</p></li>
                            </ul>
                            <p>Enjoy using our website!</p>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>                    
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="infoModal" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-index">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">About Us</h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-12">
                            <h3>Just Trying to make your life Easier!</h3>
                            <p>Everything done, made by people For people. We strive to make you enjoy your experience of buying and selling!</p>
                            <p>Special thanks to a developer that brought this idea to life!</p>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
</body>
</html>