﻿<div class="container" ng-controller="SearchController">
    <div class="row">
        <h3>Advanced Search</h3>
    </div>
    <form  ng-submit="doSearch(searchViewModel)">
        <div class="row row-separated">
            <div class="col-md-3">
                <label class="control-label">Realty Type</label>
                <select class="form-control" ng-model="searchViewModel.RealtyType">
                    <option value="">Select..</option>
                    <option value="Private">Private</option>
                    <option value="Commercial">Commercial</option>
                </select>
            </div>
            <div class="col-md-3">
                <label class="control-label">Offer Type</label>
                <select class="form-control" ng-model="searchViewModel.ForRent">
                    <option value="">Select..</option>
                    <option value="false">For Sale</option>
                    <option value="true">For Rent</option>
                </select>
            </div>
            <div class="col-md-3">
                <div class="col-md-6">
                    <label class="control-label">Area</label>
                    <input type="text" class="form-control" id="areaMin" ng-change="onChangeMin('area')" ng-model="searchViewModel.AreaMin" placeholder="#" />
                </div>
                <div class="col-md-6">
                    <label class="control-label">&emsp;</label>
                    <input type="text" class="form-control" id="areaMax" ng-change="onChangeMax('area')" ng-model="searchViewModel.AreaMax" placeholder="#" />
                </div>
            </div>

            <div class="col-md-1">
                <label class="control-label">Price</label>
                <input type="text" id="priceMin" ng-change="onChangeMin('price')" class="form-control" ng-model="searchViewModel.PriceMin" placeholder="#" />
            </div>
            <div class="col-md-1">
                <label class="control-label">&emsp;</label>
                <input type="text" id="priceMax" ng-change="onChangeMax('price')" class="form-control" ng-model="searchViewModel.PriceMax" placeholder="#" />
            </div>
            <div class="col-md-1">
                <label class="control-label">&emsp;</label>
                <select ng-change="resetPrice()" class="form-control" name="CurrencyType" ng-model="searchViewModel.CurrencyType">
                    <option value="reset">#</option>
                    <option value="dollar">$</option>
                    <option value="euro">€</option>
                    <option value="MDL">MDL</option>
                </select>
            </div>


        </div>
        <div class="row row-separated">
            <div class="col-md-6">
                <label class="control-label">Address</label>
                <input type="text" class="form-control" ng-model="searchViewModel.Address" placeholder="#" />
            </div>
            <div class="col-md-3">
                <label class="control-label">Building Type</label>
                <select class="form-control" name="IsFlat" ng-model="searchViewModel.BuildingType">
                    <option value="true">Multi-story Flat</option>
                    <option value="false">Ground Level Building</option>
                </select>
            </div>
            <div class="col-md-3">
                <div class="col-md-6">
                    <label class="control-label">Level</label>
                    <input type="text" id="levelMin" ng-change="onChangeMin('level')" class="form-control" ng-model="searchViewModel.LevelMin" placeholder="#"/>
                </div>
                <div class="col-md-6">
                    <label class="control-label">&emsp;</label>
                    <input type="text" id="levelMax" ng-change="onChangeMax('level')" class="form-control" ng-model="searchViewModel.LevelMax" placeholder="#"/>
                </div>
            </div>
        </div>
        <div class="row row-separated-borderless">
            <div class="col-md-2">
                <input type="submit" class="btn btn-primary" value="Search"/>
                <input type="reset" class="btn btn-danger" value="Reset"/>
            </div>
        </div>
    </form>

    <div class="row row-home" ng-click="viewDetails(realty.Id)" data-toggle="modal" data-target="#searchModal" ng-repeat="realty in realtyList">
        <div class="col-md-1 info-item ">
            <img ng-src="images/{{realty.RealtyType}}.png" width="25" height="25" />
        </div>
        <div class="col-md-2 info-item ">
            <span>{{formatText(realty.Address, 21)}}</span>
        </div>
        <div class="col-md-4 info-item ">
            <span>{{formatText(realty.Name, 50)}}</span>
        </div>
        <div class="col-md-1 info-item ">
            <span>{{realty.Area}} M<sup>2</sup></span>
        </div>
        <div class="col-md-2 info-item" ng-show="realty.IsFlat">
            <span>Level {{realty.Level}} from {{realty.MaxLevel}}</span>
        </div>
        <div class="col-md-2 info-item" ng-hide="realty.IsFlat">
            <span>Ground Level</span>
        </div>
        <div class="col-md-2" ng-hide="realty.ForRent">
            <span>{{realty.Price | number}}{{setCurrencyType(realty.CurrencyType)}}</span>
        </div>
        <div class="col-md-2" ng-show="realty.ForRent">
            <span>{{realty.PricePerMonth | number}}{{setCurrencyType(realty.CurrencyType)}} / Month</span>
        </div>
    </div>
</div>

<div class="modal fade" id="searchModal" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Realty Announcement Details</h4>
            </div>
            <div class="container" ui-view>

            </div>
        </div>
    </div>
</div>