﻿<div class="row">
    <div class="col-md-12">
        <h3 class="h3">Moderator Section - Unapproved Announcements</h3>
    </div>
    <div class="container container-moderator-section">
        <div class="container" ng-repeat="realty in realtyList">
            <div class="row row-home" ng-hide="realty.Approved" data-toggle="modal" data-target="#myModal" ng-click="viewDetails(realty.Id)">
                <div class="col-md-1 info-item ">
                    <img ng-src="images/{{realty.RealtyType}}.png" width="25" height="25" />
                </div>
                <div class="col-md-2 info-item ">
                    <span>{{formatText(realty.Address, 20)}}</span>
                </div>
                <div class="col-md-3 info-item ">
                    <span>{{formatText(realty.Name, 32)}}</span>
                </div>
                <div class="col-md-1 info-item ">
                    <span>{{realty.Area}} M<sup>2</sup></span>
                </div>
                <div class="col-md-2 info-item" ng-show="realty.IsFlat">
                    <span>Level {{realty.Level}} from {{realty.MaxLevel}}</span>
                </div>
                <div class="col-md-2 info-item" ng-hide="realty.IsFlat">
                    <span>Ground Level</span>
                </div>
                <div class="col-md-2 info-item" ng-hide="realty.ForRent">
                    <a href="#" data-toggle="tooltip" data-placement="bottom" title="WHOILA">{{realty.Price | number}}{{setCurrencyType(realty.CurrencyType)}}</a>
                    <!--<span>{{realty.Price | number}}{{setCurrencyType(realty.CurrencyType)}}</span>-->
                </div>
                <div class="col-md-2 info-item" ng-show="realty.ForRent">
                    <span>{{realty.PricePerMonth | number}}{{setCurrencyType(realty.CurrencyType)}} / Month</span>
                </div>
                <div class="col-md-1" ng-show="realty.Approved">
                    <img src="images/ok.png" height="20" width="20" class="img-circle"/>
                </div>
                <div class="col-md-1" ng-hide="realty.Approved">
                    <img src="images/cross.png" height="20" width="20"  class="img-circle" />
                </div>
            </div>

        </div>
    </div>
    

    <div class="modal fade" id="myModal" tabindex="-1" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">Realty Announcement Detail</h4>
                </div>
                <div class="container" ui-view>

                </div>                
            </div>
        </div>
    </div>
</div>