﻿<div class="container" ng-controller="HomeController">
    <div class="row">
        <div class="col-md-6">
            <form>
                <label class="control-label">Search:</label>
                <input type="text" ng-change="simpleSearch(searchString)" ng-model="searchString" class="form-control" />
            </form>
        </div>
    </div>
    <div class="container" ng-repeat="realty in realtyList">
        <div class="row row-home" ng-show="realty.Approved" ng-click="viewDetails(realty.Id)">
            <div class="col-md-1 info-item ">
                <img ng-src="images/{{realty.RealtyType}}.png" width="25" height="25" />
            </div>
            <div class="col-md-2 info-item ">
                <span>{{formatText(realty.Address, 21)}}</span>
            </div>
            <div class="col-md-4 info-item ">
                <span>{{formatText(realty.Name, 50)}}</span>
            </div>
            <div class="col-md-1 info-item ">
                <span>{{realty.Area}} M<sup>2</sup></span>
            </div>
            <div class="col-md-2 info-item" ng-show="realty.IsFlat">
                <span>Level {{realty.Level}} from {{realty.MaxLevel}}</span>
            </div>
            <div class="col-md-2 info-item" ng-hide="realty.IsFlat">
                <span>Ground Level</span>
            </div>
            <div class="col-md-2" ng-hide="realty.ForRent">
                <a href="#" data-toggle="tooltip" data-placement="bottom" title="WHOILA">{{realty.Price | number}}{{setCurrencyType(realty.CurrencyType)}}</a>
                <!--<span>{{realty.Price | number}}{{setCurrencyType(realty.CurrencyType)}}</span>-->
            </div>
            <div class="col-md-2" ng-show="realty.ForRent">
                <span>{{realty.PricePerMonth | number}}{{setCurrencyType(realty.CurrencyType)}} / Month</span>
            </div>
        </div>
        
    </div>
</div>
