﻿body {
    padding-top: 50px;
    padding-bottom: 20px;
    background: #fafafa;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    min-height:130vh;
    height:100%;
    padding-left: 15px;
    padding-right: 15px;

}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

.row {
    padding: 5px 5px 5px 5px;
}

.row-separated {
    padding-top: 12px;
    padding-right: 12px;
    padding-left: 12px;
    padding-bottom: 12px;
    border-bottom: 1px solid lightgray;
}

.row-separated-borderless {
    padding-top: 12px;
    padding-right: 12px;
    padding-left: 12px;
    padding-bottom: 12px;
}

.row-separated > div > p {
    font-size: 23px;
}

.row-separated-borderless > div > p {
    font-size: 23px;
}

.row-home {
    padding-top: 12px;
    padding-bottom: 12px;
    border-bottom: 1px solid lightgray;
    background-color: transparent;
    cursor:pointer;
    -o-transform: scale(1);
    -moz-transform: scale(1);
    -webkit-transform: scale(1);
    transform: scale(1);

    -o-transition: -o-transform 0.1s, background-color 0.1s;
    -moz-transition: -moz-transform 0.1s, background-color 0.1s;
    -webkit-transition: -webkit-transform 0.1s, background-color 0.1s;
    transition: transform 0.1s, background-color 0.1s;
}

.info-item {
    border-right: 1px solid lightgray
}

.row-home:hover {
    -moz-transform: scale(1.05); 
    -ms-transform: scale(1.05); 
    -webkit-transform: scale(1.05); 
    -o-transform: scale(1.05); 
    transform: scale(1.05);

    -o-transition: background-color 0.1s, -o-transform 0.1s;
    -moz-transition: background-color 0.1s, -moz-transform 0.1s;
    -webkit-transition: background-color 0.1s, -webkit-transform 0.1s;
    transition: background-color 0.1s, transform 0.1s;

    border: 1px solid lightgray;
    background-color: #fbfbfb;
    border-radius: 9px 9px;
}

.body-content{
    background-color: #eeeeee;
    -webkit-border-radius: 0 0 12px 12px;
    border-radius: 0 0 12px 12px;
}

.container .jumbotron {
    background: #d1d1d1;
    -webkit-border-radius: 0 0 12px 12px;
    border-radius: 0 0 12px 12px;
}

.btn-primary {
    background-color: #ef8d37;
    border-color: #e88935;
}

.btn-primary:hover{
    background-color: #d37c30;
    border-color: #e88935;
}

.btn-primary:focus{
    background-color: #ef8d37;
    border-color: #e88935;
    border: none;
}

.container-details {
    background-color: #fafafa;
    border-radius: 12px 12px;
}

.container-moderator-section {
    border: 1px solid #ef8d37;
    border-radius: 12px;
}

a {
    text-decoration: none;
    color:initial;
}

a:hover{
    text-decoration: none;
    color:initial;
    cursor: default;
}

.search-label {
    padding: 0px 9px;
}

.container-col {
    padding: unset;
    margin: unset;
}

.container-login {
    width: 50%;
}

.img-thumbnail{
    cursor:pointer;
}

.rates {
    padding-left: 30px

}


.modal-dialog{
    width: 70%;
}

.modal-index{
    width: 50%;
}

.anim-in-out{
    display:block;
    position:absolute;
    width: 1112px;
}