﻿<div class="container container-login" ng-controller="UserStateController">
    <form ng-submit="doLogin()">
        <div class="row">
            <div class="col-md-12">
                <label class="control-label">Login</label>
                <input type="text" class="form-control" ng-model="login" />
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <label class="control-label">Password</label>
                <input type="password" class="form-control" ng-model="password"/>   
            </div>
        </div>
        <div class="row" ng-show="message">
            <div class="col-md-6">
                <span>{{message}}!</span>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <input type="submit" class="btn btn-default"/>
            </div>
        </div>
    </form>
</div>
