﻿<div class="container" ng-controller="AddController">
    <form name="addRealty" method="post" enctype="multipart/form-data" ng-submit="submitForm()">
        <div class="row row-separated">
            <div class="col-md-3">
                <label class="control-label">Realty Type</label>
                <select class="form-control" required name="Realtytype" ng-model="RealtyType">
                    <option value="Private">Private</option>
                    <option value="Commercial">Commercial</option>
                </select>
            </div>
            <div class="col-md-3">
                <label class="control-label">Offer Type</label>
                <select ng-change="forRentValueFormat()" required class="form-control" name="ForRent" ng-model="ForRent">
                    <option value="true">For Rent</option>
                    <option value="false">For Sale</option>
                </select>
            </div>
            <div class="col-md-3">
                <label class="control-label">Area</label>
                <input class="form-control" type="text" name="Area" ng-model="Area" placeholder="Input Area..." required/>
            </div>
            <div class="col-md-2" id="Price" ng-hide="forRentScope">
                <label class="control-label">Price</label>
                <input class="form-control" type="text" name="Price" ng-model="Price" placeholder="Input Price..."/>
            </div>
            <div class="col-md-2" ng-show="forRentScope">
                <label class="control-label">Price/Month</label>
                <input class="form-control" type="text" name="Price" ng-model="PricePerMonth" placeholder="Input Price/Month..." />
            </div>
            <div class="col-md-1">
                <label class="control-label">&emsp;</label>
                <select class="form-control" name="CurrencyType" ng-model="CurrencyType" required>
                    <option value="dollar">$</option>
                    <option value="euro">€</option>
                    <option value="MDL">MDL</option>
                </select>
            </div>

        </div>
        <div class="row row-separated">
            <div class="col-md-6">
                <label class="control-label">Address</label>
                <input class="form-control" type="text" name="Address" ng-model="Address" required placeholder="Input Address..." required/>
            </div>
            <div class="col-md-3" id="buildingTypeSelect">
                <label class="control-label">Building Type</label>
                <select ng-change="onBuildingTypeChange()" class="form-control" name="IsFlat" ng-model="IsFlat" required>
                    <option value="true">Multi-story Flat</option>
                    <option value="false">Ground Level Building</option>
                </select>
            </div>
            <div class="col-md-1" ng-show="isFlatBool">
                <label class="control-label">Level</label>
                <input class="form-control" type="text" name="Level" ng-model="Level" placeholder="#" />
            </div>
            <div class="col-md-1" ng-show="isFlatBool">
                <label class="control-label">MaxLevel</label>
                <input class="form-control" type="text" name="Level" ng-model="MaxLevel" placeholder="#" />
            </div>
            <div class="col-md-1">
                <label class="control-label">Rooms</label>
                <input class="form-control" type="text" name="RoomQty" ng-model="RoomQty" placeholder="#" required/>
            </div>
        </div>
        <div class="row row-separated-borderless">
            <div class="col-md-12">
                <label class="control-label">Announcement Name</label>
                <input type="text" ng-model="Name" placeholder="Input Announcement Name..." class="form-control" required />
            </div>
        </div>
        <div class="row row-separated">
            <div class="col-md-12">
                <label class="control-label">Comments</label>
                <textarea class="form-control" name="Comments" rows="5" ng-model="Comments" placeholder="Describe Your Offer..."></textarea>
            </div>
        </div>
        <div class="row row-separated">
            <div class="col-md-6">
                <label class="control-label">Photos</label>
                <input type="file" id="file" name="file" multiple class="form-control"
                       onchange="angular.element(this).scope().getFileDetails(this)" />

            </div>
            <div class="col-md-1">
                <label class="control-label">&emsp;</label>
                <input type="button" class="btn btn-default" ng-click="uploadFiles()" value="Upload" />

            </div>
            <div class="col-md-5">
                <label class="control-label">&emsp;</label>
                <!--ADD A PROGRESS BAR ELEMENT.-->
                <p><progress id="pro" value="0"></progress></p>
            </div>

        </div>
        <div class="row row-separated">
            <div class="col-md-4">
                <span>Are you human? {{captchaA}} + {{captchaB}} = ?</span>
                <input type="text" required class="form-control" ng-model="captchaResponse" />
                <div id="captchaValidationError" style="display:none;">
                    <span class="alert-info">ТЫ ТУПОЙ ЧТОЛИ?</span>
                </div>
            </div>
        </div>
        <br />
        <div class="row row-separated-borderless">
            <div class="col-md-2">
                <input type="submit" class="btn btn-primary" />
            </div>
        </div>
    </form>
</div>

