﻿<div class="container container-details" ng-controller="DetailsController">
    <div class="row">
        <div ng-repeat="attachment in attachments" class="col-md-2">
            <a data-toggle="modal" data-target="#{{attachment.id}}"><img class="img-thumbnail" ng-src="http://localhost:20123/Content/attachments/{{attachment.Name}}" /></a>

            <div class="modal fade" id="{{attachment.id}}" tabindex="-1" role="dialog">
                <div class="modal-dialog modal-index">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <h4 class="modal-title">Photo</h4>
                        </div>
                        <div class="modal-body">
                            <img src="http://localhost:20123/Content/attachments/{{attachment.Name}}" class="img-responsive"/>
                        </div>
                        <div class="modal-footer">
                            <a target="_blank" class="btn btn-default" href="http://localhost:20123/Content/attachments/{{attachment.Name}}">See Full Size</a>
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <div class="row row-separated">
        <div class="col-md-12">
            <p>{{data.Name}}</p>
        </div>
    </div>
    <div class="row row-separated">
        <div class="col-md-6">
            <label>Realty Type</label>
            <p><img ng-src="images/{{data.RealtyType}}.png" width="25" height="25" /> {{data.RealtyType}}</p>
        </div>
        <div class="col-md-6">
            <label>Address</label>
            <p>{{data.Address}}</p>
        </div>
    </div>
    <div class="row row-separated">
        <div class="col-md-3">
            <label>Area</label>
            <p>{{data.Area}} M<sup>2</sup></p>
        </div>
        <div ng-show="data.IsFlat" class="col-md-3">
            <label>Level</label>
            <p>{{data.Level}} from {{data.MaxLevel}}</p>
        </div>
        <div ng-hide="data.IsFlat" class="col-md-3">
            <label>This is a</label>
            <p>Ground Level Property</p>
        </div>
        <div class="col-md-3" ng-show="data.Price">
            <label>Price</label>
            <p>{{data.Price | number}} {{setCurrencyType(data.CurrencyType)}}</p>            
        </div>
        <div class="col-md-3" ng-show="data.PricePerMonth">
            <label>Price/Month</label>
            <p>{{data.PricePerMonth | number}} {{setCurrencyType(data.CurrencyType)}}</p>
        </div>
        <div class="col-md-3">
            <label>Room Qty</label>
            <p>{{data.RoomQty}}</p>
        </div>
    </div>
    <div class="row row-separated">
        <div class="col-md-12">
            <label>Comments</label>
            <p>{{data.Comments}}</p>
        </div>
    </div>
    <div class="row row-separated-borderless">
        <div class="col-md-2">
            <label>Refference #</label>
            <p>{{data.Id}}</p>
        </div>
        <div class="col-md-2">
            <label>Phone</label>
            <p></p>
        </div>
    </div>
</div>
